Repository abey79/vsvg, pull requests merged in 2023-12, with the labels that each got.

#73 Fit to view on double click
  crates/vsvg-viewer/src/document_widget.rs
Labels: enhancement

#74 Add input handle hook to the `ViewerApp` trait
  crates/vsvg-viewer/src/lib.rs
  crates/vsvg-viewer/src/viewer.rs
Labels: enhancement, vsvg-viewer

#75 Add `ListItem` UI widget
  crates/vsvg-viewer/src/lib.rs
  crates/vsvg-viewer/src/list_item.rs
Labels: vsvg-viewer

#76 Improve `msvg`'s file list side panel and add file name overlay
  Cargo.lock
  crates/msvg/Cargo.toml
  crates/msvg/src/app.rs
  crates/msvg/src/main.rs
Labels: mvsg

#77 Add video to `msvg` readme
  crates/msvg/README.md
Labels: mvsg

#72 Change `HexGrid::spacing()` to accept a single scalar and maintain hexagonal grid
  crates/whiskers/examples/hex_grid.rs
  crates/whiskers/src/grid_helpers/hex_grid/mod.rs
Labels: whiskers

#78 Add binary publishing support with `cargo-dist`
  .github/workflows/release.yml
  .pre-commit-config.yaml
  Cargo.toml
  crates/msvg/Cargo.toml
  crates/msvg/wix/main.wxs
  crates/vsvg-cli/Cargo.toml
  crates/vsvg-cli/wix/main.wxs
Labels: common

#79 Update `CHANGELOG.md` for compatibility with `cargo-dist` and add automation script
  .github/workflows/labels.yml
  CHANGELOG.md
  scripts/changelog.py
Labels: common

#81 Fix blank window on first start
  crates/msvg/src/app.rs
Labels: bug, msvg

#82 Update rust toolchain to 1.75.0
  crates/msvg/src/app.rs
  crates/vsvg-viewer/src/engine.rs
  crates/vsvg-viewer/src/viewer.rs
  crates/vsvg/src/lib.rs
  crates/vsvg/src/svg/mod.rs
  rust-toolchain.toml
Labels: common

#83 Use `clap` for `msvg`
  Cargo.lock
  Cargo.toml
  crates/msvg/Cargo.toml
  crates/msvg/src/main.rs
  crates/vsvg-cli/Cargo.toml
Labels: msvg

#88 Impove `Unit` and introduce `Length`
  Cargo.lock
  Cargo.toml
  crates/vsvg/Cargo.toml
  crates/vsvg/src/length.rs
  crates/vsvg/src/lib.rs
  crates/vsvg/src/page_size.rs
  crates/vsvg/src/unit.rs
  crates/whiskers/src/runner/page_size.rs
Labels: vsvg, breaking

#89 Add options to override pen width and opacity
  crates/vsvg-viewer/src/document_widget.rs
  crates/vsvg-viewer/src/engine.rs
  crates/vsvg-viewer/src/painters/line_painter.rs
  crates/vsvg-viewer/src/painters/mod.rs
  crates/vsvg-viewer/src/render_data.rs
Labels: vsvg-viewer

#90 Persist antialias setting across app relaunch
  crates/vsvg-viewer/src/document_widget.rs
  crates/vsvg-viewer/src/viewer.rs
Labels: vsvg-viewer

#91 Add a button to reset the sketch parameters to their default
  crates/whiskers-web-demo/src/lib.rs
  crates/whiskers/examples/animation_demo.rs
  crates/whiskers/examples/app_demo.rs
  crates/whiskers/examples/asteroid.rs
  crates/whiskers/examples/bezpath.rs
  crates/whiskers/examples/catmull_rom.rs
  crates/whiskers/examples/custom_ui.rs
  crates/whiskers/examples/grid.rs
  crates/whiskers/examples/hello_world.rs
  crates/whiskers/examples/hex_grid.rs
  crates/whiskers/examples/noise.rs
  crates/whiskers/examples/rng.rs
  crates/whiskers/examples/ui_demo.rs
  crates/whiskers/src/lib.rs
  crates/whiskers/src/prelude.rs
  crates/whiskers/src/runner/mod.rs
Labels: whiskers, breaking

#92 Run documentation tests
  .github/workflows/rust-native.yml
  crates/whiskers/src/grid_helpers/hex_grid/mod.rs
  crates/whiskers/src/widgets/mod.rs
  justfile
Labels: common

#93 `changelog.py`: highlight breaking changew and generate list of contributors
  CHANGELOG.md
  scripts/changelog.py
Labels: common

#94 Persist sketch parameters across app relaunch
  Cargo.lock
  crates/vsvg/src/color.rs
  crates/vsvg/src/path/point.rs
  crates/whiskers-derive/src/lib.rs
  crates/whiskers-web-demo/src/lib.rs
  crates/whiskers/README.md
  crates/whiskers/examples/animation_demo.rs
  crates/whiskers/examples/app_demo.rs
  crates/whiskers/examples/asteroid.rs
  crates/whiskers/examples/bezpath.rs
  crates/whiskers/examples/catmull_rom.rs
  crates/whiskers/examples/custom_ui.rs
  crates/whiskers/examples/grid.rs
  crates/whiskers/examples/hello_world.rs
  crates/whiskers/examples/hex_grid.rs
  crates/whiskers/examples/noise.rs
  crates/whiskers/examples/rng.rs
  crates/whiskers/examples/ui_demo.rs
  crates/whiskers/src/lib.rs
  crates/whiskers/src/prelude.rs
  crates/whiskers/src/runner/mod.rs
  crates/whiskers/src/widgets/mod.rs
Labels: whiskers, breaking
