Repository abey79/vsvg, pull requests merged in 2024-03, with the labels that each got.

#137 Update `wasm-bindgen` and sync version with CI
  .github/workflows/rust-wasm.yml
  Cargo.lock
  Cargo.toml
Labels: web-demo

#132 Add "Inspect" section to display debug values
  crates/whiskers/README.md
  crates/whiskers/examples/inspect.rs
  crates/whiskers/src/context.rs
  crates/whiskers/src/runner/inspect.rs
  crates/whiskers/src/runner/mod.rs
Labels: whiskers, feature

#135 Add example of making dashed lines with `kurbo::dash`
  Cargo.lock
  Cargo.toml
  crates/whiskers/examples/dashed_lines.rs
Labels: whiskers, example

#138 Update to Rust 1.77.1
  crates/whiskers/src/runner/save_ui_native.rs
  rust-toolchain.toml
Labels: common, dependencies
