Repository abey79/vsvg, pull requests merged in 2024-01, with the labels that each got.

#95 Add support for `vsvg::Unit` and `vsvg::Length` as sketch parameters
  .gitignore
  crates/msvg/src/app.rs
  crates/vsvg-viewer/src/lib.rs
  crates/vsvg-viewer/src/utils/list_item.rs
  crates/vsvg-viewer/src/utils/mod.rs
  crates/vsvg-viewer/src/utils/unit_widget.rs
  crates/vsvg/src/traits/draw.rs
  crates/vsvg/src/traits/transforms.rs
  crates/vsvg/src/unit.rs
  crates/whiskers/examples/length.rs
  crates/whiskers/examples/ui_demo.rs
  crates/whiskers/src/prelude.rs
  crates/whiskers/src/runner/page_size.rs
  crates/whiskers/src/widgets/length.rs
  crates/whiskers/src/widgets/mod.rs
  crates/whiskers/src/widgets/unit.rs
Labels: whiskers

#96 Made `Runner::new()`private and update docs accordingly
  crates/whiskers/examples/sketch_only.rs
  crates/whiskers/src/prelude.rs
  crates/whiskers/src/runner/mod.rs
Labels: whiskers

#103 Fix `README.md` code example to use `SketchApp::runner()` instead of now private `Runner::new()`
  crates/whiskers/README.md
Labels: documentation, whiskers

#104 Sort files in natural order rather than in lexicographical order
  crates/msvg/src/app.rs
Labels: msvg, feature

#105 Add `particle` example based on `geos`
  .github/workflows/rust-native.yml
  Cargo.lock
  Cargo.toml
  crates/vsvg/Cargo.toml
  crates/whiskers/Cargo.toml
  crates/whiskers/examples/particle.rs
Labels: whiskers, example

#106 Add `on_exit()` hook to the `ViewerApp` trait
  crates/vsvg-viewer/src/lib.rs
  crates/vsvg-viewer/src/viewer.rs
Labels: vsvg-viewer, feature

#107 Add support for custom `enum` as sketch parameter
  crates/whiskers-derive/src/lib.rs
  crates/whiskers/examples/ui_demo.rs
  crates/whiskers/src/lib.rs
  crates/whiskers/src/runner/ui.rs
Labels: whiskers, feature

#108 Split whiskers widgets in their own `whiskers-widget` crate
  Cargo.lock
  Cargo.toml
  README.md
  crates/msvg/Cargo.toml
  crates/msvg/src/app.rs
  crates/vsvg-viewer/Cargo.toml
  crates/vsvg-viewer/src/lib.rs
  crates/vsvg-viewer/src/utils/mod.rs
  crates/vsvg/Cargo.toml
  crates/vsvg/src/lib.rs
  crates/vsvg/src/ui/list_item.rs
  crates/vsvg/src/ui/mod.rs
  crates/vsvg/src/widgets/color.rs
  crates/vsvg/src/widgets/length.rs
  crates/vsvg/src/widgets/mod.rs
  crates/vsvg/src/widgets/point.rs
  crates/vsvg/src/widgets/unit.rs
  crates/whiskers-derive/Cargo.toml
  crates/whiskers-derive/src/lib.rs
  crates/whiskers-widgets/Cargo.toml
  crates/whiskers-widgets/README.md
  crates/whiskers-widgets/src/bool.rs
  crates/whiskers-widgets/src/lib.rs
  crates/whiskers-widgets/src/numeric.rs
  crates/whiskers-widgets/src/string.rs
  crates/whiskers-widgets/src/ui.rs
  crates/whiskers/Cargo.toml
  crates/whiskers/examples/custom_ui.rs
  crates/whiskers/src/lib.rs
  crates/whiskers/src/prelude.rs
  crates/whiskers/src/runner/animation.rs
  crates/whiskers/src/runner/info.rs
  crates/whiskers/src/runner/layout.rs
  crates/whiskers/src/runner/mod.rs
  crates/whiskers/src/runner/page_size.rs
  crates/whiskers/src/runner/save_ui_native.rs
  crates/whiskers/src/runner/save_ui_wasm.rs
  crates/whiskers/src/widgets/unit.rs
  justfile
Labels: whiskers, refactor

#111 Implement the `Draw` trait for `Layer`
  crates/vsvg/examples/basic.rs
  crates/vsvg/src/layer/layer.rs
Labels: vsvg, feature

#113 Re-export core dependencies
  crates/vsvg/src/lib.rs
  crates/whiskers/src/sketch.rs
Labels: vsvg, feature

#115 Re-export core `vsvg-viewer` dependencies
  crates/vsvg-viewer/src/lib.rs
Labels: vsvg-viewer, feature

#116 Fix unescaped `<dc:source>` content in SVG output
  crates/vsvg/src/svg/writer.rs
Labels: vsvg, fix

#102 Add `Context::rng_weighted_choice()` helper function
  crates/whiskers/examples/rng.rs
  crates/whiskers/src/context.rs
Labels: whiskers, feature

#117 Update `cargo dist` to 0.8.0
  .github/workflows/release.yml
  Cargo.toml
Labels: common, dependencies

#118 Update egui to 0.25.0
  Cargo.lock
  Cargo.toml
  crates/vsvg/src/ui/list_item.rs
Labels: common, dependencies

#119 Release 0.4.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/msvg/Cargo.toml
  crates/vsvg-cli/Cargo.toml
  crates/vsvg-viewer/Cargo.toml
  crates/vsvg/Cargo.toml
  crates/whiskers-derive/Cargo.toml
  crates/whiskers-web-demo/Cargo.toml
  crates/whiskers-widgets/Cargo.toml
  crates/whiskers/Cargo.toml
Labels: release

#122 Clean `Cargo.toml`s and update dependencies
  Cargo.lock
  Cargo.toml
  crates/vsvg-cli/Cargo.toml
  crates/vsvg-viewer/Cargo.toml
  crates/vsvg/Cargo.toml
  crates/vsvg/src/svg/reader.rs
  crates/whiskers-derive/Cargo.toml
  crates/whiskers/Cargo.toml
  deny.toml
Labels: common, dependencies
